@model MVC.Entities.Products
<div class="row">
    <div class="col-md-12">
        @Html.HiddenFor(d => d.ProductID)
        <div>
            @Html.LabelFor(d => d.ProductName)
            @Html.TextBoxFor(d => d.ProductName, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.ProductName, null, new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(q => q.QuantityPerUnit)
            @Html.TextBoxFor(q => q.QuantityPerUnit, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.QuantityPerUnit, null, new { @class = "red" })
        </div>
    </div>
    <br />
    <div style="text-align:right;">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>